<mat-toolbar color="primary" class="mat-elevation-z6"> Simple Loading Service, with RxJS and HttpInterceptor, faking a "network" throttling - delay(999)</mat-toolbar>

<!-- <button class="m-5" mat-raised-button color="primary" (click)="loader.show()" [disabled]="loading$ | async">Show Loader</button> -->
<!-- <button class="m-5 float-end" mat-raised-button (click)="loader.hide()" [disabled]="!(loading$ | async)">Hide Loader</button> -->

<button class="hide-loader m-5 float-end" mat-raised-button (click)="fetchMultipleData()" [disabled]="(loading$ | async)">Load Github...</button>

<ng-container *ngIf="loading$ | async">
    <div class="overlay"></div>
    <mat-progress-spinner [mode]="'indeterminate'" color="warn"></mat-progress-spinner>
</ng-container>